@using MatchMaking.Infra
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Match Making</title>

	<link rel="stylesheet" href="~/assets/css/animate.css">
	<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/assets/css/icofont.min.css">
	<link rel="stylesheet" href="~/assets/css/swiper.min.css">
	<link rel="stylesheet" href="~/assets/css/style.css">

	<link href="~/assets/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
	<link href="~/css/imageuploadify.min.css" rel="stylesheet" />
	<link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />

	@await RenderSectionAsync("Styles", required: false)

	<link rel="stylesheet" href="~/MatchMaking.styles.css" asp-append-version="true" />
</head>
<body>
	<!-- preloader start here -->
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!-- preloader ending here -->
	<!-- ==========Header Section Starts Here========== -->
	<header class="header-section">
		<div class="header-bottom">
			<div class="container">
				<div class="header-wrapper">
					<div class="logo">
						<a asp-area="" asp-controller="Home" asp-action="Index">
							<img src="~/assets/images/logo/Logo-2.png" alt="logo">
						</a>
					</div>
					<div class="menu-area">
						<ul class="menu">
							<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
							<li><a asp-area="" asp-controller="Home" asp-action="Member">Members</a></li>

							<li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
							@if (AppHttpContextAccessor.LoggedUserId > 0)
							{
								<li><a asp-area="" asp-controller="Home" asp-action="Profile" class="ml-3"><i class="icofont-user"></i> <span>Profile</span> </a></li>
								<li><a asp-area="" asp-controller="Home" asp-action="Logout" class="ml-2"><i class="icofont-logout"></i> <span>Logout</span> </a></li>
							}
						</ul>


						@if (AppHttpContextAccessor.LoggedUserId <= 0)
						{
							<a href="#" data-bs-toggle="modal" data-bs-target="#loginModal" class="login">
								<i class="icofont-login"></i> <span>LOG IN</span>
							</a>

							<a href="#" data-bs-toggle="modal" data-bs-target="#registerModal" class="signup">
								<i class="icofont-users"></i> <span>SIGN UP</span>
							</a>
						}

						<div class="header-bar d-lg-none">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- ==========Header Section Ends Here========== -->
	@RenderBody()
	@* 
	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
		Launch static backdrop modal
	</button>
 *@


	@if (AppHttpContextAccessor.LoggedUserId <= 0)
	{
		<!-- Modal -->
		<div class="modal fade" id="registerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content" style="border: 5px solid #df314d;border-radius: 8px; box-shadow: 0px 2px 4px 0px rgba(33, 0, 83, 0.3);">
					<div class="modal-header" style="padding: 0.3rem 0.75rem;">
						<h3 class="title">Register Now</h3>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" tabindex="-1"></button>
					</div>
					<div class="modal-body">
						<form id="formRegister" asp-area="" asp-controller="Home" asp-action="Register" method="post" enctype="multipart/form-data" class="account-form">
							<div class="form-group">
								<input type="text" placeholder="Firstname" name="Firstname" data-required data-msg="The Firstname field is required." autocomplete="off">
							</div>
							<div class="form-group">
								<input type="text" placeholder="Lastname" name="Surname" data-required data-msg="The Lastname field is required." autocomplete="off">
							</div>
							<div class="form-group">
								<input type="text" placeholder="Email" name="Email" data-required data-msg="The Email field is required." autocomplete="off">
							</div>
							<div class="form-group">
								<input type="password" placeholder="Password" name="Password" data-required data-msg="The Password field is required." autocomplete="off">
							</div>
							<div class="form-group">
								<input type="password" placeholder="Confirm Password" name="ConfirmPassword" data-required data-msg="The Confirm Password field is required." autocomplete="off">
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" tabindex="-1">Close</button>
						<button type="button" class="btn btn-primary btnSubmit" data-form="formRegister" style="background:var(--bs-green); border-color:var(--bs-success)">Submit</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="loginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content" style="border: 5px solid #df314d;border-radius: 8px; box-shadow: 0px 2px 4px 0px rgba(33, 0, 83, 0.3);">
					<div class="modal-header" style="padding: 0.3rem 0.75rem;">
						<h3 class="title">Login Now</h3>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" tabindex="-1"></button>
					</div>
					<div class="modal-body">
						<form id="formLogin" asp-area="" asp-controller="Home" asp-action="Login" method="post" enctype="multipart/form-data" class="account-form">
							<div class="form-group">
								<input type="text" placeholder="Email" name="Username" data-required data-msg="The Email field is required." autocomplete="off">
							</div>
							<div class="form-group">
								<input type="password" placeholder="Password" name="Password" data-required data-msg="The Password field is required." autocomplete="off">
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" tabindex="-1">Close</button>
						<button type="button" class="btn btn-primary btnSubmit" data-form="formLogin" style="background:var(--bs-green); border-color:var(--bs-success)">Submit</button>
					</div>
				</div>
			</div>
		</div>

	}
	@if (AppHttpContextAccessor.LoggedUserId > 0)
	{
		<div class="modal fade" id="modalUploadPhotos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalUploadPhotosLabel" aria-hidden="false">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content" style="border: 5px solid #df314d;border-radius: 8px; box-shadow: 0px 2px 4px 0px rgba(33, 0, 83, 0.3);">
					<div class="modal-header" style="padding: 0.3rem 0.75rem;">
						<h3 class="title">Upload Photo(s)</h3>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" tabindex="-1"></button>
					</div>
					<div class="modal-body">
						<form id="formUploadPhotos" asp-area="" asp-controller="Home" asp-action="UploadPhotos" method="post" enctype="multipart/form-data" class="account-form">
							<input type="file" id="inputUploadPhoto" name="fileOthers" accept="image/*" multiple class="d-none">
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" tabindex="-1">Close</button>
						<button type="button" class="btn btn-primary btnSubmit" data-form="formUploadPhotos" style="background:var(--bs-green); border-color:var(--bs-success)">Submit</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="modalProfilePhoto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalProfilePhotoLabel" aria-hidden="false">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content" style="border: 5px solid #df314d;border-radius: 8px; box-shadow: 0px 2px 4px 0px rgba(33, 0, 83, 0.3);">
					<div class="modal-header" style="padding: 0.3rem 0.75rem;">
						<h3 class="title">Upload Photo(s)</h3>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" tabindex="-1"></button>
					</div>
					<div class="modal-body">
						<form id="formProfilePhoto" asp-area="" asp-controller="Home" asp-action="UploadPhotos" method="post" enctype="multipart/form-data" class="account-form">
							<input type="file" id="inputProfilePhoto" name="fileProfile" accept="image/*" class="d-none">
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" tabindex="-1">Close</button>
						<button type="button" class="btn btn-primary btnSubmit" data-form="formProfilePhoto" style="background:var(--bs-green); border-color:var(--bs-success)">Submit</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="modalCoverPhoto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalCoverPhotoLabel" aria-hidden="false">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content" style="border: 5px solid #df314d;border-radius: 8px; box-shadow: 0px 2px 4px 0px rgba(33, 0, 83, 0.3);">
					<div class="modal-header" style="padding: 0.3rem 0.75rem;">
						<h3 class="title">Upload Photo(s)</h3>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" tabindex="-1"></button>
					</div>
					<div class="modal-body">
						<form id="formCoverPhoto" asp-area="" asp-controller="Home" asp-action="UploadPhotos" method="post" enctype="multipart/form-data" class="account-form">
							<input type="file" id="inputCoverPhoto" name="fileCover" accept="image/*" class="d-none">
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" tabindex="-1">Close</button>
						<button type="button" class="btn btn-primary btnSubmit" data-form="formCoverPhoto" style="background:var(--bs-green); border-color:var(--bs-success)">Submit</button>
					</div>
				</div>
			</div>
		</div>
	}

	<div class="modal fade" id="modalProfile" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalProfileLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl modal-dialog-centered">
			<div class="modal-content" style="border: 5px solid #df314d;border-radius: 8px; box-shadow: 0px 2px 4px 0px rgba(33, 0, 83, 0.3);">
				<div class="modal-header" style="padding: 0.3rem 0.75rem;">
					<h3 class="title">Profile</h3>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" tabindex="-1"></button>
				</div>
				<div class="modal-body" id="profileModalContent">
				</div>
			</div>
		</div>
	</div>

	<!-- ================ footer Section start Here =============== -->
	<footer class="footer-section">
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="footer-bottom-content text-center">
							<p>&copy; 2025 <a asp-area="" asp-controller="Home" asp-action="Index">MatchMaking</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- ================ footer Section end Here =============== -->
	<!-- scrollToTop start here -->
	<a href="#" class="scrollToTop"><i class="icofont-rounded-up"></i></a>
	<!-- scrollToTop ending here -->

	<script src="~/assets/js/jquery.js"></script>
	<script src="~/assets/js/bootstrap.bundle.min.js"></script>
	<script src="~/assets/js/waypoints.min.js"></script>
	<script src="~/assets/js/swiper.min.js"></script>
	<script src="~/assets/js/jquery.counterup.min.js"></script>
	<script src="~/assets/js/wow.min.js"></script>
	<script src="~/assets/js/isotope.pkgd.min.js"></script>
	<script src="~/assets/js/functions.js"></script>

	<script src="~/assets/plugins/sweetalert2/sweetalert2.min.js"></script>
	<script src="~/js/imageuploadify.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
