USE [padhyaso_Leoz]
GO
/****** Object:  StoredProcedure [dbo].[SP_Employee_Status]    Script Date: 25-11-2025 01:04:47 PM ******/
DROP PROCEDURE [dbo].[SP_Employee_Status]
GO
/****** Object:  StoredProcedure [dbo].[SP_Employee_Save]    Script Date: 25-11-2025 01:04:47 PM ******/
DROP PROCEDURE [dbo].[SP_Employee_Save]
GO
/****** Object:  StoredProcedure [dbo].[SP_Employee_GET]    Script Date: 25-11-2025 01:04:47 PM ******/
DROP PROCEDURE [dbo].[SP_Employee_GET]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF_Users_LastModifiedBy]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF_Users_CreatedBy]
GO
ALTER TABLE [dbo].[UserRoleMapping] DROP CONSTRAINT [DF_UserRoleMapping_LastModifiedBy]
GO
ALTER TABLE [dbo].[UserRoleMapping] DROP CONSTRAINT [DF_UserRoleMapping_CreatedBy]
GO
ALTER TABLE [dbo].[UserMenuAccess] DROP CONSTRAINT [DF_UserMenuAccess_IsDeleted]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25-11-2025 01:04:47 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[UserRoleMapping]    Script Date: 25-11-2025 01:04:47 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserRoleMapping]') AND type in (N'U'))
DROP TABLE [dbo].[UserRoleMapping]
GO
/****** Object:  Table [dbo].[UserMenuAccess]    Script Date: 25-11-2025 01:04:47 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserMenuAccess]') AND type in (N'U'))
DROP TABLE [dbo].[UserMenuAccess]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 25-11-2025 01:04:47 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND type in (N'U'))
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[RoleMenuAccess]    Script Date: 25-11-2025 01:04:47 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RoleMenuAccess]') AND type in (N'U'))
DROP TABLE [dbo].[RoleMenuAccess]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 25-11-2025 01:04:47 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Menu]') AND type in (N'U'))
DROP TABLE [dbo].[Menu]
GO
/****** Object:  Table [dbo].[LOV]    Script Date: 25-11-2025 01:04:47 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOV]') AND type in (N'U'))
DROP TABLE [dbo].[LOV]
GO
/****** Object:  UserDefinedFunction [dbo].[SplitString]    Script Date: 25-11-2025 01:04:47 PM ******/
DROP FUNCTION [dbo].[SplitString]
GO
/****** Object:  UserDefinedFunction [dbo].[IsAuthorize_User]    Script Date: 25-11-2025 01:04:47 PM ******/
DROP FUNCTION [dbo].[IsAuthorize_User]
GO
/****** Object:  UserDefinedFunction [dbo].[IsAuthorize_User]    Script Date: 25-11-2025 01:04:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[IsAuthorize_User]
(
	@Action VARCHAR(10) = NULL
	,@MenuId [bigint] = NULL
	,@User_Id [bigint] = NULL
	,@RoleId [bigint] = NULL
)
RETURNS BIT
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Result BIT = 0;
	
	-- Super Admin
	IF EXISTS (SELECT * FROM [dbo].[Users] WHERE [Id] = @User_Id) AND @User_Id = 1 
		AND @RoleId = 1
		AND EXISTS (SELECT * FROM [dbo].[Roles] WHERE [Id] = @RoleId AND IsAdmin = 1 AND IsActive = 1 AND IsDeleted = 0) 
	BEGIN SET @Result = 1; END
	
	-- Admin Users
	ELSE IF EXISTS (SELECT * FROM [dbo].[Users] WHERE [Id] = @User_Id AND IsActive = 1 AND IsDeleted = 0) 
		AND @RoleId != 1 
		AND EXISTS (SELECT * FROM [dbo].[Roles] WHERE [Id] = @RoleId AND IsAdmin = 1 AND IsActive = 1 AND IsDeleted = 0) 
		AND EXISTS (SELECT * FROM [dbo].[UserRoleMapping] WHERE [Id] = @User_Id AND [RoleId] = @RoleId AND IsActive = 1 AND IsDeleted = 0) 
		BEGIN 
			
			IF EXISTS (SELECT * FROM [dbo].[Menu] WHERE [Id] = @MenuId AND IsSuperAdmin = 0 AND IsActive = 1 AND IsDeleted = 0) 
				AND EXISTS (SELECT * FROM [dbo].[UserMenuAccess] WHERE [UserId] = @User_Id AND [RoleId] = @RoleId 
																		AND [MenuId] = @MenuId AND IsActive = 1 AND IsDeleted = 0
																		AND (1 = IIF(@Action = 'INSERT' AND IsCreate = 1,1,0)) OR 1 = IIF((@Action = 'UPDATE' OR @Action = 'STATUS') AND IsUpdate = 1,1,0) 
																		OR 1 = IIF(ISNULL(@Action, '') = '' AND IsRead = 1,1,0) OR 1 = IIF(@Action = 'DELETE' AND IsDelete = 1,1,0))
			BEGIN SET @Result = 1; END
			ELSE BEGIN SET @Result = 0; END

		END

	-- Othe Users
	ELSE IF EXISTS (SELECT * FROM [dbo].[Users] WHERE [Id] = @User_Id AND IsActive = 1 AND IsDeleted = 0) 
		AND @RoleId != 1 
		AND EXISTS (SELECT * FROM [dbo].[Roles] WHERE [Id] = @RoleId AND IsAdmin = 0 AND IsActive = 1 AND IsDeleted = 0) 
		AND EXISTS (SELECT * FROM [dbo].[UserRoleMapping] WHERE [Id] = @User_Id AND [RoleId] = @RoleId AND IsActive = 1 AND IsDeleted = 0) 
		BEGIN 
			
			IF EXISTS (SELECT * FROM [dbo].[Menu] WHERE [Id] = @MenuId AND IsSuperAdmin = 0 AND IsAdmin = 0 AND IsActive = 1 AND IsDeleted = 0) 
				AND EXISTS (SELECT * FROM [dbo].[UserMenuAccess] WHERE [UserId] = @User_Id AND [RoleId] = @RoleId 
																		AND [MenuId] = @MenuId AND IsActive = 1 AND IsDeleted = 0
																		AND (1 = IIF(@Action = 'INSERT' AND IsCreate = 1,1,0)) OR 1 = IIF((@Action = 'UPDATE' OR @Action = 'STATUS') AND IsUpdate = 1,1,0) 
																		OR 1 = IIF(ISNULL(@Action, '') = '' AND IsRead = 1,1,0) OR 1 = IIF(@Action = 'DELETE' AND IsDelete = 1,1,0))
			BEGIN SET @Result = 1; END
			ELSE BEGIN SET @Result = 0; END

		END

	-- UnAuthrize Users
	ELSE BEGIN SET @Result = 0; END

	RETURN @Result;

END
GO
/****** Object:  UserDefinedFunction [dbo].[SplitString]    Script Date: 25-11-2025 01:04:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SplitString]
(    
    @Input NVARCHAR(MAX),
    @Character CHAR(1),
    @OutType CHAR(1)
)
RETURNS @Output TABLE (
    ItemStr NVARCHAR(MAX),
    ItemNum BIGINT
)
AS
BEGIN
    DECLARE @StartIndex INT, @EndIndex INT
 
    SET @StartIndex = 1
    IF SUBSTRING(@Input, LEN(@Input) - 1, LEN(@Input)) <> @Character
    BEGIN
        SET @Input = @Input + @Character
    END
 
    WHILE CHARINDEX(@Character, @Input) > 0
    BEGIN
        SET @EndIndex = CHARINDEX(@Character, @Input)
         
		IF(@OutType = 'S')
		BEGIN
		
			INSERT INTO @Output(ItemStr)
			SELECT SUBSTRING(@Input, @StartIndex, @EndIndex - 1)
         
		END
		ELSE 
		BEGIN
		
			INSERT INTO @Output(ItemNum)
			SELECT CONVERT(BIGINT, SUBSTRING(@Input, @StartIndex, @EndIndex - 1))
         
		END

        SET @Input = SUBSTRING(@Input, @EndIndex + 1, LEN(@Input))
    END
 
    RETURN
END
GO
/****** Object:  Table [dbo].[LOV]    Script Date: 25-11-2025 01:04:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOV](
	[LOV_Column] [nvarchar](max) NOT NULL,
	[LOV_Code] [nvarchar](max) NOT NULL,
	[LOV_Desc] [nvarchar](max) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[ProjectDetailTypeAccess] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 25-11-2025 01:04:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ParentId] [bigint] NOT NULL,
	[Area] [nvarchar](max) NULL,
	[Controller] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
	[DisplayOrder] [int] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[LastModifiedBy] [bigint] NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[IsSuperAdmin] [bit] NULL,
	[IsAdmin] [bit] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleMenuAccess]    Script Date: 25-11-2025 01:04:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleMenuAccess](
	[RoleId] [bigint] NOT NULL,
	[MenuId] [bigint] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[IsCreate] [bit] NOT NULL,
	[IsUpdate] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[LastModifiedBy] [bigint] NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 25-11-2025 01:04:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DisplayOrder] [int] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[LastModifiedBy] [bigint] NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[IsAdmin] [bit] NULL,
	[ProjectDetailTypeAccess] [nvarchar](500) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMenuAccess]    Script Date: 25-11-2025 01:04:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMenuAccess](
	[UserId] [bigint] NOT NULL,
	[RoleId] [bigint] NOT NULL,
	[MenuId] [bigint] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[IsCreate] [bit] NOT NULL,
	[IsUpdate] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[LastModifiedBy] [bigint] NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoleMapping]    Script Date: 25-11-2025 01:04:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoleMapping](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[RoleId] [bigint] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[LastModifiedBy] [bigint] NOT NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_UserRoleMapping_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25-11-2025 01:04:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[No_Of_Wrong_Password_Attempts] [int] NULL,
	[Next_Change_Password_Date] [datetime2](7) NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[LastModifiedBy] [bigint] NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[LOV] ([LOV_Column], [LOV_Code], [LOV_Desc], [DisplayOrder], [ProjectDetailTypeAccess]) VALUES (N'USER_TYPE', N'MNGR', N'Manager', 1, N'F3D,DRW,WCLTSC,MB,SITE,WPEND,MPRO,WCOMP')
INSERT [dbo].[LOV] ([LOV_Column], [LOV_Code], [LOV_Desc], [DisplayOrder], [ProjectDetailTypeAccess]) VALUES (N'USER_TYPE', N'COORD', N'Co-Ordinator', 1, N'F3D,DRW,WCLTSC,MB,SITE,WPEND,MPRO,WCOMP')
INSERT [dbo].[LOV] ([LOV_Column], [LOV_Code], [LOV_Desc], [DisplayOrder], [ProjectDetailTypeAccess]) VALUES (N'WorkType', N'FI', N'Flooring installer', 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([Id], [ParentId], [Area], [Controller], [Url], [Name], [Icon], [DisplayOrder], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate], [IsSuperAdmin], [IsAdmin], [IsActive], [IsDeleted]) VALUES (1, 0, N'', N'', NULL, N'Configuration', NULL, 1, 1, CAST(N'2025-04-10T13:17:12.4037659' AS DateTime2), 1, CAST(N'2025-04-10T13:17:12.4037675' AS DateTime2), 0, 1, 1, 0)
INSERT [dbo].[Menu] ([Id], [ParentId], [Area], [Controller], [Url], [Name], [Icon], [DisplayOrder], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate], [IsSuperAdmin], [IsAdmin], [IsActive], [IsDeleted]) VALUES (2, 1, N'Admin', N'User', NULL, N'User', NULL, 2, 1, CAST(N'2025-04-10T13:17:34.0880441' AS DateTime2), 1, CAST(N'2025-04-10T13:17:34.0880461' AS DateTime2), 0, 1, 1, 0)
INSERT [dbo].[Menu] ([Id], [ParentId], [Area], [Controller], [Url], [Name], [Icon], [DisplayOrder], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate], [IsSuperAdmin], [IsAdmin], [IsActive], [IsDeleted]) VALUES (3, 1, N'Admin', N'Role', NULL, N'Role', NULL, 3, 1, CAST(N'2025-04-10T13:17:34.1216900' AS DateTime2), 1, CAST(N'2025-04-10T13:17:34.1216922' AS DateTime2), 0, 1, 1, 0)
SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
INSERT [dbo].[RoleMenuAccess] ([RoleId], [MenuId], [IsRead], [IsCreate], [IsUpdate], [IsDelete], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate], [IsActive], [IsDeleted]) VALUES (2, 1, 1, 1, 1, 1, 1, CAST(N'2025-11-12T14:40:02.1353108' AS DateTime2), 1, CAST(N'2025-11-12T14:40:02.1353125' AS DateTime2), 1, 0)
INSERT [dbo].[RoleMenuAccess] ([RoleId], [MenuId], [IsRead], [IsCreate], [IsUpdate], [IsDelete], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate], [IsActive], [IsDeleted]) VALUES (2, 2, 1, 1, 1, 1, 1, CAST(N'2025-11-12T14:40:02.2321492' AS DateTime2), 1, CAST(N'2025-11-12T14:40:02.2321508' AS DateTime2), 1, 0)
INSERT [dbo].[RoleMenuAccess] ([RoleId], [MenuId], [IsRead], [IsCreate], [IsUpdate], [IsDelete], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate], [IsActive], [IsDeleted]) VALUES (2, 3, 1, 1, 1, 1, 1, CAST(N'2025-11-12T14:40:02.3181941' AS DateTime2), 1, CAST(N'2025-11-12T14:40:02.3181953' AS DateTime2), 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name], [DisplayOrder], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate], [IsActive], [IsDeleted], [IsAdmin], [ProjectDetailTypeAccess]) VALUES (1, N'Super Admin', NULL, 1, CAST(N'2025-11-12T11:45:21.0665406' AS DateTime2), 1, CAST(N'2025-11-12T11:45:21.0665425' AS DateTime2), 1, 0, 1, NULL)
INSERT [dbo].[Roles] ([Id], [Name], [DisplayOrder], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate], [IsActive], [IsDeleted], [IsAdmin], [ProjectDetailTypeAccess]) VALUES (2, N'Admin', 22, 1, CAST(N'2025-11-12T11:45:23.8876826' AS DateTime2), 1, CAST(N'2025-11-12T14:40:01.4300261' AS DateTime2), 1, 0, 1, NULL)
INSERT [dbo].[Roles] ([Id], [Name], [DisplayOrder], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate], [IsActive], [IsDeleted], [IsAdmin], [ProjectDetailTypeAccess]) VALUES (3, N'Vendor', 21, 2, CAST(N'2025-04-10T13:31:04.9715828' AS DateTime2), 1, CAST(N'2025-11-12T14:39:40.3261418' AS DateTime2), 1, 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[UserMenuAccess] ([UserId], [RoleId], [MenuId], [IsRead], [IsCreate], [IsUpdate], [IsDelete], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate], [IsActive], [IsDeleted]) VALUES (2, 2, 1, 1, 1, 1, 1, 1, CAST(N'2025-11-12T14:40:03.4688778' AS DateTime2), 1, CAST(N'2025-11-12T14:40:03.4688791' AS DateTime2), 1, 0)
INSERT [dbo].[UserMenuAccess] ([UserId], [RoleId], [MenuId], [IsRead], [IsCreate], [IsUpdate], [IsDelete], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate], [IsActive], [IsDeleted]) VALUES (2, 2, 2, 1, 1, 1, 1, 1, CAST(N'2025-11-12T14:40:03.5991587' AS DateTime2), 1, CAST(N'2025-11-12T14:40:03.5991604' AS DateTime2), 1, 0)
INSERT [dbo].[UserMenuAccess] ([UserId], [RoleId], [MenuId], [IsRead], [IsCreate], [IsUpdate], [IsDelete], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate], [IsActive], [IsDeleted]) VALUES (2, 2, 3, 1, 1, 1, 1, 1, CAST(N'2025-11-12T14:40:03.7190059' AS DateTime2), 1, CAST(N'2025-11-12T14:40:03.7190070' AS DateTime2), 1, 0)
GO
SET IDENTITY_INSERT [dbo].[UserRoleMapping] ON 

INSERT [dbo].[UserRoleMapping] ([Id], [UserId], [RoleId], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate], [IsActive], [IsDeleted]) VALUES (1, 1, 1, 1, CAST(N'2025-11-12T11:45:22.1792425' AS DateTime2), 1, CAST(N'2025-11-12T11:45:22.1792463' AS DateTime2), 1, 0)
INSERT [dbo].[UserRoleMapping] ([Id], [UserId], [RoleId], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate], [IsActive], [IsDeleted]) VALUES (2, 2, 2, 1, CAST(N'2025-11-12T11:45:24.6728145' AS DateTime2), 1, CAST(N'2025-11-12T11:45:24.6728167' AS DateTime2), 1, 0)
INSERT [dbo].[UserRoleMapping] ([Id], [UserId], [RoleId], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate], [IsActive], [IsDeleted]) VALUES (3, 3, 5, 2, CAST(N'2025-11-12T12:50:50.6356356' AS DateTime2), 2, CAST(N'2025-11-12T12:50:50.6356390' AS DateTime2), 1, 0)
SET IDENTITY_INSERT [dbo].[UserRoleMapping] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [UserName], [Password], [No_Of_Wrong_Password_Attempts], [Next_Change_Password_Date], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate], [IsActive], [IsDeleted]) VALUES (1, N'Adnin', N'cXYR8qDVoGs=', NULL, NULL, 1, CAST(N'2025-11-12T11:45:19.4800721' AS DateTime2), 1, CAST(N'2025-11-12T11:45:19.4874337' AS DateTime2), 1, 0)
INSERT [dbo].[Users] ([Id], [UserName], [Password], [No_Of_Wrong_Password_Attempts], [Next_Change_Password_Date], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate], [IsActive], [IsDeleted]) VALUES (2, N'Admin', N'cXYR8qDVoGs=', NULL, NULL, 1, CAST(N'2025-11-12T11:45:22.9708400' AS DateTime2), 1, CAST(N'2025-11-12T11:45:22.9708423' AS DateTime2), 1, 0)
INSERT [dbo].[Users] ([Id], [UserName], [Password], [No_Of_Wrong_Password_Attempts], [Next_Change_Password_Date], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate], [IsActive], [IsDeleted]) VALUES (3, N'Emp_1', N'L3qunkzA+zE=', NULL, NULL, 2, CAST(N'2025-11-12T12:50:50.3949351' AS DateTime2), 2, CAST(N'2025-11-12T12:51:18.2970097' AS DateTime2), 1, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[UserMenuAccess] ADD  CONSTRAINT [DF_UserMenuAccess_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[UserRoleMapping] ADD  CONSTRAINT [DF_UserRoleMapping_CreatedBy]  DEFAULT ((0)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[UserRoleMapping] ADD  CONSTRAINT [DF_UserRoleMapping_LastModifiedBy]  DEFAULT ((0)) FOR [LastModifiedBy]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedBy]  DEFAULT ((0)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_LastModifiedBy]  DEFAULT ((0)) FOR [LastModifiedBy]
GO
/****** Object:  StoredProcedure [dbo].[SP_Employee_GET]    Script Date: 25-11-2025 01:04:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Employee_GET]
	@Id [bigint] = NULL
	,@VendorId [bigint] = NULL
	,@Operated_By [bigint] = NULL
	,@Operated_RoleId [bigint] = NULL
	,@Operated_MenuId [bigint] = NULL
AS
BEGIN

	SET NOCOUNT ON;

	IF @Id > 0
		SELECT DISTINCT X.Id, X.UserId, X.RoleId, X.VendorId, X.FirstName, X.LastName, X.MiddleName, Z.Username UserName, X.UserType, X.Address, X.CityId, X.StateId, X.CountryId, X.Gender, X.Position, X.ContactNo, X.BloodGroup
		, X.BirthDate, IIF(X.BirthDate IS NOT NULL, CONVERT(VARCHAR, X.BirthDate, 103), NULL)BirthDate_Text, X.HireDate, X.IsActive, X.CreatedBy, X.IsDeleted
		FROM [dbo].[Employee] X 
		LEFT JOIN [dbo].[Users] Z ON X.UserId = Z.Id
		LEFT JOIN [dbo].[UserRoleMapping] ZX ON (X.UserId = ZX.UserId AND X.RoleId = ZX.RoleId)
		WHERE X.Id = @Id AND VendorId = @VendorId;
	BEGIN
        SELECT DISTINCT X.Id, X.UserId, X.RoleId, X.VendorId, X.FirstName, X.LastName, X.MiddleName, Z.Username UserName, X.UserType, X.Address, X.CityId, X.StateId, X.CountryId, X.Gender, X.Position, X.ContactNo, X.BloodGroup
		, X.BirthDate, IIF(X.BirthDate IS NOT NULL, CONVERT(VARCHAR, X.BirthDate, 103), NULL)BirthDate_Text, X.HireDate, X.IsActive, X.CreatedBy, X.IsDeleted
		FROM [dbo].[Employee] X 
		LEFT JOIN [dbo].[Users] Z ON X.UserId = Z.Id
		LEFT JOIN [dbo].[UserRoleMapping] ZX ON (X.UserId = ZX.UserId AND X.RoleId = ZX.RoleId)
		WHERE VendorId = @VendorId;
	END

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Employee_Save]    Script Date: 25-11-2025 01:04:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Employee_Save]
	@Id [bigint] = 0
	,@UserId [bigint] = 0
	,@VendorId [bigint] = NULL
	,@UserName [nvarchar](MAX) = NULL
	,@Password [nvarchar](MAX) = NULL
	,@FirstName [nvarchar](MAX) = NULL
	,@MiddleName [nvarchar](MAX) = NULL
	,@LastName [nvarchar](MAX) = NULL
	,@UserType [nvarchar](MAX) = NULL
	,@BirthDate [nvarchar](MAX) = NULL
	,@IsActive [bit] = NULL
	,@Operated_By [bigint] = NULL
	,@Operated_RoleId [bigint] = NULL
	,@Operated_MenuId [bigint] = NULL
	,@Action [nvarchar](MAX) = NULL
	,@response nvarchar(MAX) out
AS
BEGIN

	SET NOCOUNT ON;

	SET @response = 'E|' + 'Opps!... Something went wrong. Please contact system administrator|0';
	
	BEGIN TRY
        BEGIN TRANSACTION;
	
	DECLARE @RoleId bigint = (SELECT TOP 1 Id FROM Roles WHERE UPPER(Name) = 'EMPLOYEE');

	DECLARE @User_Id bigint = 0;
	DECLARE @Employee_Id bigint = 0;

    IF EXISTS (SELECT * FROM [dbo].[Users] WHERE UPPER(TRIM([UserName])) = UPPER(TRIM(@UserName)) AND Id != @UserId )
		BEGIN SET @response =  'E|' + 'Username is already exists|0'; END
	ELSE IF EXISTS (SELECT * FROM [dbo].[Employee] WHERE UPPER(TRIM([FirstName])) = UPPER(TRIM(@FirstName)) 
						AND UPPER(TRIM([MiddleName])) = UPPER(TRIM(@MiddleName)) AND UPPER(TRIM([LastName])) = UPPER(TRIM(@LastName)) 
						AND UPPER(TRIM([UserType])) = UPPER(TRIM(@UserType)) AND Id = @Id AND VendorId = @VendorId
					)
		BEGIN SET @response =  'E|' + 'Employee is already exists|0'; END
	ELSE
	BEGIN

		--INSERT
		IF @Action = 'INSERT'
		BEGIN
		
			INSERT INTO [dbo].[Users]([UserName], [Password], CreatedBy, CreatedDate, IsActive, IsDeleted)
			VALUES (TRIM(@UserName), TRIM(@Password), @Operated_By, GETDATE(), @IsActive, 0)
 
			SET @User_Id = SCOPE_IDENTITY();
			
			INSERT INTO [dbo].[Employee](UserId, RoleId, VendorId, FirstName, LastName, MiddleName, UserType, BirthDate, CreatedBy, CreatedDate, LastModifiedBy, LastModifiedDate, IsActive, IsDeleted)
			VALUES (@User_Id, @RoleId, @VendorId, @FirstName, @LastName, @MiddleName, @UserType, IIF(@BirthDate IS NOT NULL, CONVERT(DATETIME, @BirthDate, 103), NULL), @Operated_By, GETDATE(), @Operated_By, GETDATE(), @IsActive, 0)
 					
			SET @Employee_Id = SCOPE_IDENTITY();

					INSERT INTO [dbo].[UserRoleMapping]([UserId], [RoleId], CreatedBy, CreatedDate, LastModifiedBy, LastModifiedDate, IsActive, IsDeleted)
					VALUES (@User_Id, @RoleId, @Operated_By, GETDATE(), @Operated_By, GETDATE(), @IsActive, 0)
 
					INSERT INTO UserMenuAccess(UserId, RoleId, MenuId, IsRead, IsCreate, IsUpdate, IsDelete, CreatedBy, CreatedDate, LastModifiedBy, LastModifiedDate, IsActive, IsDeleted)
					SELECT @User_Id, @RoleId, MenuId, IsRead, IsCreate, IsUpdate, IsDelete, @Operated_By, GETDATE(), @Operated_By, GETDATE(), @IsActive, 0 
					FROM RoleMenuAccess WHERE RoleId = @RoleId AND IsActive = 1;

			SET @response =  'S|' + 'Record saved successfully|' + CONVERT(NVARCHAR(MAX), @Employee_Id);
		
		END
		ELSE IF @Action = 'UPDATE'
		  BEGIN
			IF EXISTS (SELECT * FROM [dbo].[Users] WHERE UPPER(TRIM([UserName])) = UPPER(TRIM(@UserName)) AND [Id] != @UserId )
				BEGIN SET @response =  'E|' + 'Username is already exists|0'; END
			ELSE
			BEGIN
				UPDATE [dbo].[Users] 
				SET  [UserName] = TRIM(@UserName), [Password] = IIF(@Password IS NOT NULL AND @Password != '', TRIM(@Password), [Password])
					, IsActive = @IsActive, LastModifiedBy = @Operated_By, LastModifiedDate = GETDATE()
				WHERE [Id]= @UserId;
 
						UPDATE [dbo].[Employee] 
						SET [FirstName] = @FirstName
							,[MiddleName] = @MiddleName
							,[LastName] = @LastName
							,[UserType] = @UserType
							,[BirthDate] = IIF(@BirthDate IS NOT NULL, CONVERT(DATETIME, @BirthDate, 103), [BirthDate])
							, IsActive = @IsActive, LastModifiedBy = @Operated_By, LastModifiedDate = GETDATE()
						WHERE [Id]= @Id;
 
					DELETE FROM [dbo].[UserRoleMapping] WHERE [UserId] = @UserId AND [RoleId] = @RoleId;
 					
					DELETE FROM [dbo].[UserMenuAccess] WHERE [UserId] = @UserId AND [RoleId] = @RoleId;
 					
					INSERT INTO [dbo].[UserRoleMapping]([UserId], [RoleId], CreatedBy, CreatedDate, LastModifiedBy, LastModifiedDate, IsActive, IsDeleted)
					VALUES (@UserId, @RoleId, @Operated_By, GETDATE(), @Operated_By, GETDATE(), @IsActive, 0)
 
					INSERT INTO [dbo].[UserMenuAccess](UserId, RoleId, MenuId, IsRead, IsCreate, IsUpdate, IsDelete, CreatedBy, CreatedDate, LastModifiedBy, LastModifiedDate, IsActive, IsDeleted)
					SELECT @UserId, @RoleId, MenuId, IsRead, IsCreate, IsUpdate, IsDelete, @Operated_By, GETDATE(), @Operated_By, GETDATE(), @IsActive, 0 
					FROM RoleMenuAccess WHERE RoleId = @RoleId AND IsActive = 1;

				SET @response =  'S|' + 'Record saved successfully|' + CONVERT(NVARCHAR(MAX), @Id);
			END
		  END
 
		--  --ACTIVE/INACTIVE
		--IF @Action = 'STATUS'
		--  BEGIN
		--	IF EXISTS (SELECT * FROM [dbo].[Users] WHERE [Id] = @Id)
		--	BEGIN
		--		UPDATE [dbo].[Users] SET IsActive = @IsActive, LastModifiedBy = @Operated_By, LastModifiedDate = GETDATE()
		--		WHERE [Id]= @Id;
 
		--		SET @response =  'S|' + 'Status changed successfully|' + CONVERT(NVARCHAR(MAX), @Id);
		--	END
		--  END
 
		--  --DELETE
		--IF @Action = 'DELETE'
		--  BEGIN
		--	IF EXISTS (SELECT * FROM [dbo].[Users] WHERE [Id] = @Id)
		--	BEGIN
		--		UPDATE [dbo].[Users] SET IsActive = 0, IsDeleted = 1, LastModifiedBy = @Operated_By, LastModifiedDate = GETDATE()
		--		WHERE [Id]= @Id;
 
		--		SET @response =  'S|' + 'Record deleted successfully|' + CONVERT(NVARCHAR(MAX), @Id);
		--	END
		--  END

	END
			
			COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- Rollback on error
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
		
		DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrState INT = ERROR_STATE();

		SET @response =  'E|' + @ErrMsg + ' | ' +  @ErrSeverity + ' | ' +  @ErrState+'|0';

        RAISERROR(@ErrMsg, @ErrSeverity, @ErrState);
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Employee_Status]    Script Date: 25-11-2025 01:04:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Employee_Status]
	@Id [bigint] = NULL
	,@VendorId [bigint] = NULL
	,@IsActive [bit] = NULL
	,@Operated_By [bigint] = NULL
	,@Operated_RoleId [bigint] = NULL
	,@Operated_MenuId [bigint] = NULL
	,@Action VARCHAR(10) = NULL
	,@response nvarchar(MAX) out
AS
BEGIN

	SET NOCOUNT ON;

	SET @response = 'E|' + 'Opps!... Something went wrong. Please contact system administrator|0';
		
	DECLARE @User_Id bigint = 0;
	DECLARE @Employee_Id bigint = 0;

    IF NOT EXISTS (SELECT * FROM [dbo].[Employee] WHERE Id = @Id AND VendorId = @VendorId )
		BEGIN SET @response =  'E|' + 'Employee is not available|0'; END
	ELSE
	BEGIN

		  --ACTIVE/INACTIVE
		IF @Action = 'STATUS'
		  BEGIN
			
				UPDATE [dbo].[Employee] SET IsActive = @IsActive, LastModifiedBy = @Operated_By, LastModifiedDate = GETDATE()
				WHERE [Id]= @Id AND VendorId = @VendorId;
				
				UPDATE [dbo].[Users] SET IsActive = @IsActive, LastModifiedBy = @Operated_By, LastModifiedDate = GETDATE()
				WHERE [Id] IN (SELECT UserId FROM [dbo].[Employee] WHERE [Id] = @Id AND VendorId = @VendorId);
 
				SET @response =  'S|' + 'Status changed successfully|' + CONVERT(NVARCHAR(MAX), @Id);
			
		  END
 
		  --DELETE
		IF @Action = 'DELETE'
		  BEGIN
			
				UPDATE [dbo].[Employee] SET IsActive = 0, IsDeleted = 1, LastModifiedBy = @Operated_By, LastModifiedDate = GETDATE()
				WHERE [Id]= @Id AND VendorId = @VendorId;
 
				UPDATE [dbo].[Users] SET IsActive = 0, IsDeleted = 1, LastModifiedBy = @Operated_By, LastModifiedDate = GETDATE()
				WHERE [Id] IN (SELECT UserId FROM [dbo].[Employee] WHERE [Id] = @Id AND VendorId = @VendorId);
 
				SET @response =  'S|' + 'Record deleted successfully|' + CONVERT(NVARCHAR(MAX), @Id);
			
		  END

		
	END
END
GO
