USE [MatchMakingDB]
GO
ALTER TABLE [dbo].[Preferences] DROP CONSTRAINT [FK_Preferences_JainGroups]
GO
ALTER TABLE [dbo].[MatchComputeLog] DROP CONSTRAINT [FK_MatchComputeLog_JobLog]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF_Users_LastModifiedBy]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF_Users_CreatedBy]
GO
ALTER TABLE [dbo].[UserRoleMapping] DROP CONSTRAINT [DF_UserRoleMapping_LastModifiedBy]
GO
ALTER TABLE [dbo].[UserRoleMapping] DROP CONSTRAINT [DF_UserRoleMapping_CreatedBy]
GO
ALTER TABLE [dbo].[UserMenuAccess] DROP CONSTRAINT [DF_UserMenuAccess_IsDeleted]
GO
ALTER TABLE [dbo].[Profiles] DROP CONSTRAINT [DF_Profiles_LastModifiedBy]
GO
ALTER TABLE [dbo].[Profiles] DROP CONSTRAINT [DF_Profiles_CreatedBy]
GO
ALTER TABLE [dbo].[MatchmakingJobLog] DROP CONSTRAINT [DF__Matchmaki__Succe__693CA210]
GO
ALTER TABLE [dbo].[MatchmakingJobLog] DROP CONSTRAINT [DF__Matchmaki__Total__68487DD7]
GO
ALTER TABLE [dbo].[MatchmakingJobLog] DROP CONSTRAINT [DF__Matchmaki__Total__6754599E]
GO
ALTER TABLE [dbo].[MatchmakingJobLog] DROP CONSTRAINT [DF__Matchmaki__Start__66603565]
GO
ALTER TABLE [dbo].[Matches] DROP CONSTRAINT [DF__Matches__Created__5EBF139D]
GO
ALTER TABLE [dbo].[Matches] DROP CONSTRAINT [DF__Matches__Status__5DCAEF64]
GO
ALTER TABLE [dbo].[MatchComputeLog] DROP CONSTRAINT [DF__MatchComp__Statu__6EF57B66]
GO
ALTER TABLE [dbo].[MatchComputeLog] DROP CONSTRAINT [DF__MatchComp__UsedF__6E01572D]
GO
ALTER TABLE [dbo].[MatchComputeLog] DROP CONSTRAINT [DF__MatchComp__Match__6D0D32F4]
GO
ALTER TABLE [dbo].[MatchComputeLog] DROP CONSTRAINT [DF__MatchComp__Start__6C190EBB]
GO
ALTER TABLE [dbo].[AdminLogs] DROP CONSTRAINT [DF__AdminLogs__Actio__6383C8BA]
GO
ALTER TABLE [dbo].[AdminActions] DROP CONSTRAINT [DF__AdminActi__Creat__5165187F]
GO
/****** Object:  Index [UQ__JainGrou__6EFCD43492C48C67]    Script Date: 26-11-2025 05:02:51 PM ******/
ALTER TABLE [dbo].[JainGroups] DROP CONSTRAINT [UQ__JainGrou__6EFCD43492C48C67]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26-11-2025 05:02:51 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[UserRoleMapping]    Script Date: 26-11-2025 05:02:51 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserRoleMapping]') AND type in (N'U'))
DROP TABLE [dbo].[UserRoleMapping]
GO
/****** Object:  Table [dbo].[UserMenuAccess]    Script Date: 26-11-2025 05:02:51 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserMenuAccess]') AND type in (N'U'))
DROP TABLE [dbo].[UserMenuAccess]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 26-11-2025 05:02:51 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND type in (N'U'))
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[RoleMenuAccess]    Script Date: 26-11-2025 05:02:51 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RoleMenuAccess]') AND type in (N'U'))
DROP TABLE [dbo].[RoleMenuAccess]
GO
/****** Object:  Table [dbo].[Profiles]    Script Date: 26-11-2025 05:02:51 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Profiles]') AND type in (N'U'))
DROP TABLE [dbo].[Profiles]
GO
/****** Object:  Table [dbo].[Preferences]    Script Date: 26-11-2025 05:02:51 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Preferences]') AND type in (N'U'))
DROP TABLE [dbo].[Preferences]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 26-11-2025 05:02:51 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Menu]') AND type in (N'U'))
DROP TABLE [dbo].[Menu]
GO
/****** Object:  Table [dbo].[MatchmakingJobLog]    Script Date: 26-11-2025 05:02:51 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MatchmakingJobLog]') AND type in (N'U'))
DROP TABLE [dbo].[MatchmakingJobLog]
GO
/****** Object:  Table [dbo].[Matches]    Script Date: 26-11-2025 05:02:51 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Matches]') AND type in (N'U'))
DROP TABLE [dbo].[Matches]
GO
/****** Object:  Table [dbo].[MatchComputeLog]    Script Date: 26-11-2025 05:02:51 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MatchComputeLog]') AND type in (N'U'))
DROP TABLE [dbo].[MatchComputeLog]
GO
/****** Object:  Table [dbo].[LOV]    Script Date: 26-11-2025 05:02:51 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOV]') AND type in (N'U'))
DROP TABLE [dbo].[LOV]
GO
/****** Object:  Table [dbo].[JainGroups]    Script Date: 26-11-2025 05:02:51 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[JainGroups]') AND type in (N'U'))
DROP TABLE [dbo].[JainGroups]
GO
/****** Object:  Table [dbo].[AdminLogs]    Script Date: 26-11-2025 05:02:51 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AdminLogs]') AND type in (N'U'))
DROP TABLE [dbo].[AdminLogs]
GO
/****** Object:  Table [dbo].[AdminActions]    Script Date: 26-11-2025 05:02:51 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AdminActions]') AND type in (N'U'))
DROP TABLE [dbo].[AdminActions]
GO
/****** Object:  Table [dbo].[AdminActions]    Script Date: 26-11-2025 05:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminActions](
	[ActionId] [int] IDENTITY(1,1) NOT NULL,
	[AdminUser] [varchar](150) NULL,
	[ActionType] [varchar](50) NULL,
	[TargetProfileId] [int] NULL,
	[Notes] [varchar](500) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ActionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminLogs]    Script Date: 26-11-2025 05:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminLogs](
	[AdminLogId] [int] IDENTITY(1,1) NOT NULL,
	[AdminUser] [varchar](200) NULL,
	[ActionType] [varchar](100) NULL,
	[TargetProfileId] [int] NULL,
	[Notes] [varchar](500) NULL,
	[ActionDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JainGroups]    Script Date: 26-11-2025 05:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JainGroups](
	[GroupId] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [varchar](50) NOT NULL,
	[Description] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOV]    Script Date: 26-11-2025 05:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOV](
	[LOV_Column] [nvarchar](max) NOT NULL,
	[LOV_Code] [nvarchar](max) NOT NULL,
	[LOV_Desc] [nvarchar](max) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[ProjectDetailTypeAccess] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatchComputeLog]    Script Date: 26-11-2025 05:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchComputeLog](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[JobLogId] [int] NOT NULL,
	[ProfileId] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[MatchesInserted] [int] NULL,
	[UsedFuzzy] [bit] NOT NULL,
	[Status] [varchar](20) NULL,
	[ErrorMessage] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matches]    Script Date: 26-11-2025 05:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matches](
	[MatchId] [int] IDENTITY(1,1) NOT NULL,
	[ProfileId] [bigint] NOT NULL,
	[MatchedProfileId] [bigint] NOT NULL,
	[MatchScore] [int] NULL,
	[Reason] [varchar](500) NULL,
	[Status] [varchar](20) NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK__Matches__4218C817933FCFB1] PRIMARY KEY CLUSTERED 
(
	[MatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatchmakingJobLog]    Script Date: 26-11-2025 05:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchmakingJobLog](
	[JobLogId] [int] IDENTITY(1,1) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[TotalProfilesProcessed] [int] NULL,
	[TotalMatchesInserted] [int] NULL,
	[Success] [bit] NOT NULL,
	[ErrorMessage] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[JobLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 26-11-2025 05:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ParentId] [bigint] NOT NULL,
	[Area] [nvarchar](max) NULL,
	[Controller] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
	[DisplayOrder] [int] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[LastModifiedBy] [bigint] NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[IsSuperAdmin] [bit] NULL,
	[IsAdmin] [bit] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Preferences]    Script Date: 26-11-2025 05:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preferences](
	[PreferenceId] [int] IDENTITY(1,1) NOT NULL,
	[ProfileId] [bigint] NOT NULL,
	[LookingForGender] [varchar](10) NULL,
	[MinAge] [int] NULL,
	[MaxAge] [int] NULL,
	[PreferredCity] [varchar](100) NULL,
	[PreferredGroupId] [int] NULL,
 CONSTRAINT [PK__Preferen__E228496FA9AC5EC4] PRIMARY KEY CLUSTERED 
(
	[PreferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profiles]    Script Date: 26-11-2025 05:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profiles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NULL,
	[Firstname] [nvarchar](100) NULL,
	[Lastname] [nvarchar](100) NULL,
	[Gender] [nvarchar](10) NULL,
	[LookingForGender] [nvarchar](10) NULL,
	[MaritalStatus] [nvarchar](10) NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[Address] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[Country] [nvarchar](100) NULL,
	[Education] [nvarchar](200) NULL,
	[Occupation] [nvarchar](200) NULL,
	[Summary] [nvarchar](500) NULL,
	[GroupId] [int] NULL,
	[Fathername] [nvarchar](100) NULL,
	[Mothername] [nvarchar](100) NULL,
	[PaternalSurname] [nvarchar](100) NULL,
	[MaternalSurname] [nvarchar](100) NULL,
	[Mosal] [nvarchar](100) NULL,
	[ProfilePhotoPath] [nvarchar](300) NULL,
	[CoverPhotoPath] [nvarchar](300) NULL,
	[Interests] [nvarchar](100) NULL,
	[Smoking] [nvarchar](100) NULL,
	[Height] [nvarchar](50) NULL,
	[Weight] [nvarchar](50) NULL,
	[HairColor] [nvarchar](50) NULL,
	[EyeColor] [nvarchar](50) NULL,
	[BodyType] [nvarchar](50) NULL,
	[Ethnicity] [nvarchar](100) NULL,
	[Language] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[LastModifiedBy] [bigint] NULL,
	[LastModifiedDate] [datetime2](7) NULL,
 CONSTRAINT [PK__Profiles__290C88E462C41656] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleMenuAccess]    Script Date: 26-11-2025 05:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleMenuAccess](
	[RoleId] [bigint] NOT NULL,
	[MenuId] [bigint] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[IsCreate] [bit] NOT NULL,
	[IsUpdate] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[LastModifiedBy] [bigint] NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 26-11-2025 05:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DisplayOrder] [int] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[LastModifiedBy] [bigint] NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[IsAdmin] [bit] NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMenuAccess]    Script Date: 26-11-2025 05:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMenuAccess](
	[UserId] [bigint] NOT NULL,
	[RoleId] [bigint] NOT NULL,
	[MenuId] [bigint] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[IsCreate] [bit] NOT NULL,
	[IsUpdate] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[LastModifiedBy] [bigint] NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoleMapping]    Script Date: 26-11-2025 05:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoleMapping](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[RoleId] [bigint] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[LastModifiedBy] [bigint] NOT NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_UserRoleMapping_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26-11-2025 05:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[No_Of_Wrong_Password_Attempts] [int] NULL,
	[Next_Change_Password_Date] [datetime2](7) NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[LastModifiedBy] [bigint] NULL,
	[LastModifiedDate] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[JainGroups] ON 

INSERT [dbo].[JainGroups] ([GroupId], [GroupName], [Description]) VALUES (1, N'Sthanakwasi', N'Sthanakwasi Jain group')
INSERT [dbo].[JainGroups] ([GroupId], [GroupName], [Description]) VALUES (2, N'Deravasi', N'Deravasi Jain group')
INSERT [dbo].[JainGroups] ([GroupId], [GroupName], [Description]) VALUES (3, N'Digambar', N'Digambar Jain group')
SET IDENTITY_INSERT [dbo].[JainGroups] OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([Id], [ParentId], [Area], [Controller], [Url], [Name], [Icon], [DisplayOrder], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate], [IsSuperAdmin], [IsAdmin], [IsActive], [IsDeleted]) VALUES (1, 0, N'', N'', NULL, N'Configuration', NULL, 1, 1, CAST(N'2025-11-25T14:57:51.9957624' AS DateTime2), 1, CAST(N'2025-11-25T14:57:51.9957830' AS DateTime2), 0, 1, 1, 0)
SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[Preferences] ON 

INSERT [dbo].[Preferences] ([PreferenceId], [ProfileId], [LookingForGender], [MinAge], [MaxAge], [PreferredCity], [PreferredGroupId]) VALUES (1, 1, N'Female', 22, 30, N'Ahmedabad', 1)
SET IDENTITY_INSERT [dbo].[Preferences] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name], [DisplayOrder], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate], [IsActive], [IsDeleted], [IsAdmin]) VALUES (1, N'Super Admin', NULL, 1, CAST(N'2025-11-25T14:57:51.8893181' AS DateTime2), 1, CAST(N'2025-11-25T14:57:51.8893197' AS DateTime2), 1, 0, 1)
INSERT [dbo].[Roles] ([Id], [Name], [DisplayOrder], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate], [IsActive], [IsDeleted], [IsAdmin]) VALUES (2, N'Admin', NULL, 1, CAST(N'2025-11-25T14:57:51.9456002' AS DateTime2), 1, CAST(N'2025-11-25T14:57:51.9456019' AS DateTime2), 1, 0, 1)
INSERT [dbo].[Roles] ([Id], [Name], [DisplayOrder], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate], [IsActive], [IsDeleted], [IsAdmin]) VALUES (3, N'Candidate', NULL, 1, CAST(N'2025-11-25T15:21:56.5260508' AS DateTime2), 1, CAST(N'2025-11-25T15:21:56.5260527' AS DateTime2), 1, 0, 1)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoleMapping] ON 

INSERT [dbo].[UserRoleMapping] ([Id], [UserId], [RoleId], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate], [IsActive], [IsDeleted]) VALUES (1, 1, 1, 1, CAST(N'2025-11-25T14:57:51.9187072' AS DateTime2), 1, CAST(N'2025-11-25T14:57:51.9187086' AS DateTime2), 1, 0)
INSERT [dbo].[UserRoleMapping] ([Id], [UserId], [RoleId], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate], [IsActive], [IsDeleted]) VALUES (2, 2, 2, 1, CAST(N'2025-11-25T14:57:51.9504919' AS DateTime2), 1, CAST(N'2025-11-25T14:57:51.9504938' AS DateTime2), 1, 0)
INSERT [dbo].[UserRoleMapping] ([Id], [UserId], [RoleId], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate], [IsActive], [IsDeleted]) VALUES (3, 3, 3, 1, CAST(N'2025-11-25T15:21:57.4270907' AS DateTime2), 1, CAST(N'2025-11-25T15:21:57.4270922' AS DateTime2), 1, 0)
SET IDENTITY_INSERT [dbo].[UserRoleMapping] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [UserName], [Password], [No_Of_Wrong_Password_Attempts], [Next_Change_Password_Date], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate], [IsActive], [IsDeleted]) VALUES (1, N'Adnin', N'9OV7yy4Xesw=', NULL, NULL, 1, CAST(N'2025-11-25T14:57:51.4168690' AS DateTime2), 1, CAST(N'2025-11-25T14:57:51.4169651' AS DateTime2), 1, 0)
INSERT [dbo].[Users] ([Id], [UserName], [Password], [No_Of_Wrong_Password_Attempts], [Next_Change_Password_Date], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate], [IsActive], [IsDeleted]) VALUES (2, N'Admin', N'9OV7yy4Xesw=', NULL, NULL, 1, CAST(N'2025-11-25T14:57:51.9335361' AS DateTime2), 1, CAST(N'2025-11-25T14:57:51.9335376' AS DateTime2), 1, 0)
INSERT [dbo].[Users] ([Id], [UserName], [Password], [No_Of_Wrong_Password_Attempts], [Next_Change_Password_Date], [CreatedBy], [CreatedDate], [LastModifiedBy], [LastModifiedDate], [IsActive], [IsDeleted]) VALUES (3, N'test@mail.com', N'J/DjjGXLO38=', 5, CAST(N'2025-11-25T15:20:37.2146994' AS DateTime2), 1, CAST(N'2025-11-25T15:21:46.3164573' AS DateTime2), 1, CAST(N'2025-11-25T15:21:46.9375867' AS DateTime2), 1, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__JainGrou__6EFCD43492C48C67]    Script Date: 26-11-2025 05:02:51 PM ******/
ALTER TABLE [dbo].[JainGroups] ADD UNIQUE NONCLUSTERED 
(
	[GroupName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdminActions] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[AdminLogs] ADD  DEFAULT (getdate()) FOR [ActionDate]
GO
ALTER TABLE [dbo].[MatchComputeLog] ADD  DEFAULT (getdate()) FOR [StartTime]
GO
ALTER TABLE [dbo].[MatchComputeLog] ADD  DEFAULT ((0)) FOR [MatchesInserted]
GO
ALTER TABLE [dbo].[MatchComputeLog] ADD  DEFAULT ((0)) FOR [UsedFuzzy]
GO
ALTER TABLE [dbo].[MatchComputeLog] ADD  DEFAULT ('Success') FOR [Status]
GO
ALTER TABLE [dbo].[Matches] ADD  CONSTRAINT [DF__Matches__Status__5DCAEF64]  DEFAULT ('New') FOR [Status]
GO
ALTER TABLE [dbo].[Matches] ADD  CONSTRAINT [DF__Matches__Created__5EBF139D]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[MatchmakingJobLog] ADD  DEFAULT (getdate()) FOR [StartTime]
GO
ALTER TABLE [dbo].[MatchmakingJobLog] ADD  DEFAULT ((0)) FOR [TotalProfilesProcessed]
GO
ALTER TABLE [dbo].[MatchmakingJobLog] ADD  DEFAULT ((0)) FOR [TotalMatchesInserted]
GO
ALTER TABLE [dbo].[MatchmakingJobLog] ADD  DEFAULT ((1)) FOR [Success]
GO
ALTER TABLE [dbo].[Profiles] ADD  CONSTRAINT [DF_Profiles_CreatedBy]  DEFAULT ((0)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[Profiles] ADD  CONSTRAINT [DF_Profiles_LastModifiedBy]  DEFAULT ((0)) FOR [LastModifiedBy]
GO
ALTER TABLE [dbo].[UserMenuAccess] ADD  CONSTRAINT [DF_UserMenuAccess_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[UserRoleMapping] ADD  CONSTRAINT [DF_UserRoleMapping_CreatedBy]  DEFAULT ((0)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[UserRoleMapping] ADD  CONSTRAINT [DF_UserRoleMapping_LastModifiedBy]  DEFAULT ((0)) FOR [LastModifiedBy]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedBy]  DEFAULT ((0)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_LastModifiedBy]  DEFAULT ((0)) FOR [LastModifiedBy]
GO
ALTER TABLE [dbo].[MatchComputeLog]  WITH CHECK ADD  CONSTRAINT [FK_MatchComputeLog_JobLog] FOREIGN KEY([JobLogId])
REFERENCES [dbo].[MatchmakingJobLog] ([JobLogId])
GO
ALTER TABLE [dbo].[MatchComputeLog] CHECK CONSTRAINT [FK_MatchComputeLog_JobLog]
GO
ALTER TABLE [dbo].[Preferences]  WITH CHECK ADD  CONSTRAINT [FK_Preferences_JainGroups] FOREIGN KEY([PreferredGroupId])
REFERENCES [dbo].[JainGroups] ([GroupId])
GO
ALTER TABLE [dbo].[Preferences] CHECK CONSTRAINT [FK_Preferences_JainGroups]
GO
