@{
	ViewData["Title"] = "Home Page";
}


<!-- ================ Banner Section start Here =============== -->
<section class="banner-section">
	<div class="container">
		<div class="section-wrapper">
			<div class="row align-items-end">
				<div class="col-lg-6">
					<div class="banner-content">
						<div class="intro-form">
							<div class="intro-form-inner">
								<h3>Introducing Jain Connect</h3>
								<p>
									Serious With <strong>Jain Connect </strong> Your Perfect
									Match is Just a Click Away.
								</p>
								<form action="/" class="banner-form">
									<div class="person">
										<label for="gender-two" class="left">Looking for</label>
										<div class="custom-select right">
											<select name="gender" id="Gender" class="">
												<option value="">Select Gender</option>
												<option value="M">Male</option>
												<option value="F">Female</option>
												<option value="O">Others</option>
											</select>
										</div>
									</div>
									<div class="age">
										<label for="age" class="left">Age</label>
										<div class="right d-flex justify-content-between">
											<div class="custom-select">
												<select name="age-start" id="age-start">
													<option value="18">18</option>
													<option value="19">19</option>
													<option value="20">20</option>
													<option value="21">21</option>
													<option value="22">22</option>
													<option value="23">23</option>
													<option value="24">24</option>
													<option value="25">25</option>
													<option value="26">26</option>
													<option value="27">27</option>
													<option value="28">28</option>
													<option value="29">29</option>
													<option value="30">30</option>
												</select>
											</div>

											<div class="custom-select">
												<select name="age-end" id="age-end">
													<option value="19">19</option>
													<option value="20">20</option>
													<option value="21">21</option>
													<option value="22">22</option>
													<option value="23">23</option>
													<option value="24">24</option>
													<option value="25">25</option>
													<option value="26">26</option>
													<option value="27">27</option>
													<option value="28">28</option>
													<option value="29">29</option>
													<option value="30">30</option>
													<option value="50">50</option>
												</select>
											</div>
										</div>

									</div>

									<button type="button" class="" onclick="fnSearch()">Find Your Partner</button>

								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="banner-thumb">
						<img src="~/assets/images/banner/01.png" alt="img">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="all-shapes">
		<img src="~/assets/images/banner/banner-shapes/01.png" alt="shape" class="banner-shape shape-1">
		<img src="~/assets/images/banner/banner-shapes/02.png" alt="shape" class="banner-shape shape-2">
		<img src="~/assets/images/banner/banner-shapes/03.png" alt="shape" class="banner-shape shape-3">
		<img src="~/assets/images/banner/banner-shapes/04.png" alt="shape" class="banner-shape shape-4">
		<img src="~/assets/images/banner/banner-shapes/05.png" alt="shape" class="banner-shape shape-5">
		<img src="~/assets/images/banner/banner-shapes/06(1).png" alt="shape" class="banner-shape shape-6">
		<img src="~/assets/images/banner/banner-shapes/07.png" alt="shape" class="banner-shape shape-7">
		<img src="~/assets/images/banner/banner-shapes/08.png" alt="shape" class="banner-shape shape-8">
	</div>
</section>
<!-- ================ Banner Section end Here =============== -->
<!-- ================ About Section start Here =============== -->
<section class="about-section padding-tb bg-img">
	<div class="container">
		<div class="section-header">
			<h4>About Our Jain Connect</h4>
			<h2>It All Begins With the Right Jain Connection.</h2>
		</div>
		<div class="section-wrapper">
			<div class="row justify-content-center g-4">
				<div class="col-xl-3 col-lg-4 col-sm-6 col-12">
					<div class="lab-item about-item">
						<div class="lab-inner text-center">
							<div class="lab-thumb">
								<img src="~/assets/images/about/01.png" alt="img">
							</div>
							<div class="lab-content">
								<h2 class="counter">29,991</h2>
								<p>Members in Total</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-sm-6 col-12">
					<div class="lab-item about-item">
						<div class="lab-inner text-center">
							<div class="lab-thumb">
								<img src="~/assets/images/about/02.png" alt="img">
							</div>
							<div class="lab-content">
								<h2 class="counter">29,960</h2>
								<p>Members Online</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-sm-6 col-12">
					<div class="lab-item about-item">
						<div class="lab-inner text-center">
							<div class="lab-thumb">
								<img src="~/assets/images/about/03.png" alt="img">
							</div>
							<div class="lab-content">
								<h2 class="counter">29,960</h2>
								<p>Men Online</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-sm-6 col-12">
					<div class="lab-item about-item">
						<div class="lab-inner text-center">
							<div class="lab-thumb">
								<img src="~/assets/images/about/04.png" alt="img">
							</div>
							<div class="lab-content">
								<h2 class="counter">28,960</h2>
								<p>Women Online</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ================ About Section end Here =============== -->
<!-- ================ Work Section start Here =============== -->
<section class="work-section padding-tb">
	<div class="container">
		<div class="section-header">
			<h4 class="theme-color">How Does It Work?</h4>
			<h2>You’re Just 4 Steps Away From A Great Date</h2>
		</div>
		<div class="section-wrapper">
			<div class="row justify-content-center g-5">
				<div class="col-lg-3 col-sm-6 col-12 px-4">
					<div class="lab-item work-item">
						<div class="lab-inner text-center">
							<div class="lab-thumb">
								<div class="thumb-inner">
									<img src="~/assets/images/work/01.png" alt="work-img">
									<div class="step">
										<span>step</span>
										<p>01</p>
									</div>
								</div>
							</div>
							<div class="lab-content">
								<h4>Create A Profile</h4>
								<p>
									Continua actualize ailers through robu
									and sertively concepze standards compliant
									commerce after technica sound.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 col-12 px-4">
					<div class="lab-item work-item">
						<div class="lab-inner text-center">
							<div class="lab-thumb">
								<div class="thumb-inner">
									<img src="~/assets/images/work/02.png" alt="work-img">
									<div class="step">
										<span>step</span>
										<p>02</p>
									</div>
								</div>
							</div>
							<div class="lab-content">
								<h4>Match Finder</h4>
								<p>
									Continua actualize ailers through robu
									and sertively concepze standards compliant
									commerce after technica sound.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 col-12 px-4">
					<div class="lab-item work-item">
						<div class="lab-inner text-center">
							<div class="lab-thumb">
								<div class="thumb-inner">
									<img src="~/assets/images/work/03.png" alt="work-img">
									<div class="step">
										<span>step</span>
										<p>03</p>
									</div>
								</div>
							</div>
							<div class="lab-content">
								<h4>Marriage Match</h4>
								<p>
									Continua actualize ailers through robu
									and sertively concepze standards compliant
									commerce after technica sound.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 col-12 px-4">
					<div class="lab-item work-item">
						<div class="lab-inner text-center">
							<div class="lab-thumb">
								<div class="thumb-inner">
									<img src="~/assets/images/work/04.jpeg" alt="work-img">
									<div class="step">
										<span>step</span>
										<p>04</p>
									</div>
								</div>
							</div>
							<div class="lab-content">
								<h4>Jain Connect</h4>
								<p>
									Continua actualize ailers through robu
									and sertively concepze standards compliant
									commerce after technica sound.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ================ Work Section end Here =============== -->
@section Scripts {
	<script type="text/javascript">

		function fnSearch(){
			window.location = '@Url.Action("Member", "Home")?Gender='+$('#Gender option:selected').val()+'&ageStart='+$('#age-start option:selected').val()+'&ageEnd='+$('#age-end option:selected').val();
		}
	</script>
}
